body {
  font-family: 'Inter', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper-pagination-bullet-active {
  background-color: red; 
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


::-webkit-scrollbar {
  width: 6px; 
}


::-webkit-scrollbar-thumb {
  background-color: #718096;
  border-radius: 3px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 110ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

iframe#webpack-dev-server-client-overlay{display:none!important}


@tailwind base;
@tailwind components;
@tailwind utilities;
